<launch>
  <!-- Set parameters -->
  <param name="lat_r" type="double" value="45.477669"/>
  <param name="lon_r" type="double" value="9.226740"/>
  <param name="alt_r" type="double" value="169.041000"/>

  <!-- Launch the node -->
  <node name="gps_to_odom_node" pkg="first_project" type="gps_to_odom" output="screen"/>

  <!-- Play the bag file -->
  <node name="rosbag_player" pkg="rosbag" type="play" args="--clock /src/bags/robotics.bag" output="screen"/>
</launch>
