<launch>
  <!-- Launch the nodes -->
  <node pkg="first_project" type="gps_to_odom" name="gps_to_odom" output="screen">
    <param name="lat_r" type="double" value="45.477669461666665"/>
    <param name="lon_r" type="double" value="9.22674018"/>
    <param name="alt_r" type="double" value="169.039000"/>
  </node>
  
  <node pkg="first_project" type="odom_to_tf" name="odom_to_tf_encoders" output="screen">
    <param name="root_frame" type="string" value="world"/>
    <param name="child_frame" type="string" value="wheel_odom"/>
    <remap from="input_odom" to="odom"/>
  </node>

  <node pkg="first_project" type="odom_to_tf" name="odom_to_tf_gps" output="screen">
    <param name="root_frame" type="string" value="world"/>
    <param name="child_frame" type="string" value="gps_odom"/>
    <remap from="input_odom" to="gps_odom"/>
  </node>

  <node pkg="first_project" type="lidar_remap" name="lidar_remap" output="screen">
    <param name="lidar_frame_id" type="str" value="lidar_frame" />
  </node>

  <!-- Start RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find first_project)/cfg/first_project_rviz_cfg.rviz"/>

</launch>
